<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
    <style>
            input:not([type]),
                input[type=text]:not(.browser-default),
                input[type=password]:not(.browser-default),
                input[type=date]:not(.browser-default),
                input[type=email]:not(.browser-default) {
                    border:solid  2px  #ccc  !important;
                    outline: none;
                    height: 3rem;
                    width: 100%;
                    font-size: 16px;
                    margin: 0 0 8px 0;
                    padding: 0;
                    background-color: transparent;
                    box-shadow: 0px
                }
                
                input:not([type]):focus:not([readonly]),
                input[type=text]:not(.browser-default):focus:not([readonly]),
                input[type=password]:not(.browser-default):focus:not([readonly]),
                input[type=date]:not(.browser-default):focus:not([readonly]),
                input[type=email]:not(.browser-default):focus:not([readonly]) {
                    border:solid  2px  #646af2  !important;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
                
                input::-webkit-input-value {
                    color: grey;
                }
                
                .no-padd {
                    padding: 0px !important;
                }
                .signup-body{
                        background:url('/img/signup.png');
                        background-repeat: no-repeat;
                        background-position:bottom left;
                    }
                    div.input-field > div {
                        color: #646af2;
                    }
                    select{
                        display:block;
                    }
                
        </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row">

            <form class="col s10 offset-s1" action="<%- link('cvbuilder', 'user') %>" method="post">
                <div class="col s12" style="height:100px;"></div>
                <div class="row">
                    <div class="col s10">
                        <h3 class="indigo-text">CV BUILDER</h3>
                    </div>
                    <div class="col s1">
                        <a class="btn light-blue white-text z-depth-0" style="border-radius:3px;width:100px;margin-top:35px" onclick="save()"><b>Save</b></a>
                    </div>
                    <div class="col s1">
                        <a class="btn light-blue white-text z-depth-0" style="border-radius:3px;width:100px;margin-top:35px" href="/profile"><b>Cancel</b></a>
                    </div>
                </div>
                <div class="card z-depth-0 col s12" style="padding:10px;">
                    <div id="form1" class="card z-depth-0 col s12" style="padding:10px;">
                        <h5>
                            <b>PERSONAL DETAILS</b>
                        </h5>
                        <br>
                        <br>
                        <div class="input-field col s6 offset-s3">
                            <div>Enter your name here </div>
                            <input type="text" name="fullname" id="details-fullname" value="<%= user.fullname %>" style="padding:5px;">
                        </div>

                        <div class="input-field col s6 offset-s3">
                            <div>Enter your father's name here </div>
                            <input type="text" name="details_fathername" id="details-father_name" value="<%= profile.details.father_name %>"style="padding:5px;">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div>Enter your DOB here </div>
                            <input type="date" name="details_dob" id="details-dob" value="<%= profile.details.dob %>"style="padding:5px;">
                        </div>
                        <!-- <div class="input-field col s6">
                        <input type="text" id="city" value="City">
                    </div> -->
                        <div class="input-field col s6 offset-s3">
                                <div>Enter your Aadhar no here </div>
                            <input type="text" name="aadharno" id="details-aadharno" value="<%= profile.details.aadharno %>" style="padding:5px;">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div class="col s4">
                                <label>
                                <input name="details_gender" value="male" id="details-gender" type="radio" <%= profile.details.gender=="male"?"checked":""%> />
                                <span>Male</span>
                            </label>
                            </div>
                            <div class="col s4">
                                <label>
                                <input name="details_gender" value="female" id="details-gender" type="radio" <%= profile.details.gender=="female"?"checked":""%>/>
                                <span>Female</span>
                            </label>
                            </div>

                        </div>


                        <div class="input-field col s6 offset-s3">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step1">
                        </div>

                    </div>
                    <div id="form2" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <h5>
                            <b>ADDRESS DETAILS</b>
                        </h5>
                        <br>
                        <br>
                        <div class="input-field col s6 offset-s3">
                            <div>Enter your address here</div>
                            <input type="text" name="fulladdress" id="address-full_address" value="<%= profile.address.full_address %>"style="padding:5px;">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div>Enter your city here</div>
                            <input type="text" name="city" id="address-city" value="<%= profile.address.city %>"style="padding:5px;">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            
                            <select name="address-state" id="address-state" style="padding:5px;">
                                <option value="" disabled selected>Choose your course</option>
                                <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                            </select>
                            <!--                             <input type="text" name="state" id="address-state" "State" value="<%= profile.address.state %>">
 --></div>
                        <div class="input-field col s6 offset-s3">
                            <div>Enter your zip code here</div>
                            <input type="text" name="zipcode" id="address-pincode" value="<%= profile.address.pincode %>" style="padding:5px;">
                        </div>
                        <div class="col s6 offset-s3">
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back1">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step2">
                        </div>
                        </div>

                    </div>
                    <div id="form3" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <h5>
                            <b>EDUCATION DETAILS</b>
                        </h5>
                        <br>
                        <div class="ui label col s12">10TH</div>
                        <br>

                        <div class="holder">
                            <div class="input-field col s6 offset-s3">
                                    <div>Institute Name</div>
                                <input id="education-high-institute_name" type="text" name="school10"  value="<%= profile.education.high.institute_name %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Board</div>
                                <input id="education-high-board" type="text" name="board10"  value="<%= profile.education.high.board %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Course</div>
                                <input id="education-high-course" type="text" name="course10"  value="<%= profile.education.high.course %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Marks</div>
                                <input id="education-high-marks" type="text" name="marks10"  value="<%= profile.education.high.marks %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Passing Year</div>
                                <input id="education-high-passing_year" type="text" name="year10"  value="<%= profile.education.high.passing_year %>">
                            </div>
                        </div>
                        <br>
                        <div class="ui label col s12">12TH</div>
                        <br>
                        <div class="holder">
                            <div class="input-field col s6 offset-s3">
                                <div>Full Name</div>
                                <input id="education-intermediate-institute_name" type="text" name="school12"  value="<%= profile.education.intermediate.institute_name %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Board</div>
                                <input id="education-intermediate-board" type="text" name="board12"  value="<%= profile.education.intermediate.board %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Course</div>
                                <input id="education-intermediate-course" type="text" name="course12"  value="<%= profile.education.intermediate.course %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Marks in % / CGPA</div>
                                <input id="education-intermediate-marks" type="text" name="marks12"  value="<%= profile.education.intermediate.marks %>">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Passing Year</div>
                                <input id="education-intermediate-passing_year" type="text" name="year12" "" value="<%= profile.education.intermediate.passing_year %>">
                            </div>
                        </div>
                        <div class="ui label col s12">GRADUATION</div>
                        <br>
                        <div class="input-field col s6 offset-s3">
                            <div>Institute Name</div>
                            <input id="education-graduation-institute_name" type="text" name="collegename"  value="<%= profile.education.graduation.institute_name %>">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div>Board</div>
                            <input id="education-graduation-board" type="text" name="collegeboard"  value="<%= profile.education.graduation.board %>">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <select class="no-autoinit" name="collegecourse" id="education-graduation-course" "Course">
                            <option value="" disabled selected>Choose your course</option>
                            <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                            <option value="Bachelor of Education ( B.Ed)">Bachelor of Education ( B.Ed)</option>
                            <option value="Bachelor of Law (B.L,LLB) ">Bachelor of Law (B.L,LLB) </option>
                            <option value="Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)">Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S) </option>
                            <option value="Bachelor of Architecture (B.Arch) ">Bachelor of Architecture (B.Arch) </option>
                            <option value="Bachelor of Business Administration (B.B.A)">Bachelor of Business Administration (B.B.A) </option>
                            <option value="Bachelor of Business Management (B.B.M) ">Bachelor of Business Management (B.B.M) </option>
                            <option value="Bachelor of Computer Applications (B.C.A) ">Bachelor of Computer Applications (B.C.A) </option>
                            <option value="Bachelor of Commerce (B.Com) ">Bachelor of Commerce (B.Com) </option>
                            <option value="Bachelor of Dental Surgery (B.D.S) ">Bachelor of Dental Surgery (B.D.S) </option>
                            <option value="Bachelor of Engineering (B.E) ">Bachelor of Engineering (B.E) </option>
                            <option value="Bachelor of Education (B.Ed) ">Bachelor of Education (B.Ed) </option>
                            <option value="Bachelor of Fashion Technology (B.F.Tech) ">Bachelor of Fashion Technology (B.F.Tech) </option>
                            <option value="Bachelor of Hotel Management (B.H.M) ">Bachelor of Hotel Management (B.H.M) </option>
                            <option value="Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) ">Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) </option>
                            <option value="Bachelor of Literature (B.Lit) ">Bachelor of Literature (B.Lit) </option>
                            <option value="Bachelor of Pharmacy (B.Pharma) "> Bachelor of Pharmacy (B.Pharma) </option>
                            <option value="Bachelor of Science (B.Sc) "> Bachelor of Science (B.Sc) </option>
                            <option value="Bachelor of Science "> Bachelor of Science </option>
                            <option value="Bachelor of Education (B.Sc.B.Ed)"> Bachelor of Education (B.Sc.B.Ed) </option>
                            <option value="Bachelor of Tourism Administration (B.T.A)"> Bachelor of Tourism Administration (B.T.A) </option>
                            <option value="Basic Training Certificate (B.T.C) "> Basic Training Certificate (B.T.C) </option>
                            <option value="Bachelor of Technology (B.Tech) "> Bachelor of Technology (B.Tech) </option>
                            <option value="Bachelor of Medicine"> Bachelor of Medicine </option>
                            <option value="Bachelor of Surgery (M.B.B.S)"> Bachelor of Surgery (M.B.B.S) </option>
                            <option value="Doctor of Philosophy (Ph. D)"> Doctor of Philosophy (Ph. D) </option>
                            <option value="Master of Arts (M.A)"> Master of Arts (M.A) </option>
                            <option value="Master of Architecture (M.Arch)"> Master of Architecture (M.Arch) </option>
                            <option value="Master of Business Administration (M.B.A)"> Master of Business Administration (M.B.A) </option>
                            <option value="Master of Computer Applications (M.C.A)"> Master of Computer Applications (M.C.A) </option>
                            <option value="Master of Commerce (M.Com)"> Master of Commerce (M.Com) </option>
                            <option value="Doctor of Medicine (M.D)"> Doctor of Medicine (M.D) </option>
                            <option value="Master of Engineering (M.E)"> Master of Engineering (M.E) </option>
                            <option value="Master of Education (M.Ed)"> Master of Education (M.Ed) </option>
                            <option value="Master of Pharmacy (M.Pharma)"> Master of Pharmacy (M.Pharma) </option>
                            <option value="Master of Philosophy (M.Phil)"> Master of Philosophy (M.Phil) </option>
                            <option value="Master of Science (M.Sc)"> Master of Science (M.Sc) </option>
                            <option value="Master of Technology (M.Tech)"> Master of Technology (M.Tech) </option>
                            <option value="Post Graduate Diploma Management (PGDM)"> Post Graduate Diploma Management (PGDM) </option>
                            <option value="Post Graduate Program For Executives (PG EXP)"> Post Graduate Program For Executives (PG EXP) </option>
                            <option value="Post Graduate Program In Management (PGPM)">Post Graduate Program In Management (PGPM)</option>
                            <option value="Others">Others</option>

                        </select>
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div>Marks</div>
                            <input id="education-graduation-marks" type="text" name="collegemarks"  value="<%= profile.education.graduation.marks %>">
                        </div>

                        <div class="ui label col s12">POST GRADUATION</div>
                        <br>
                        <div class="input-field  col s6 offset-s3">
                            <div>Institute Name</div>
                            <input id="education-post_graduation-institute_name" type="text" name="postcollegename"  value="<%= profile.education.post_graduation.institute_name %>">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div>Board</div>
                            <input id="education-post_graduation-board" type="text" name="postcollegeboard"  value="<%= profile.education.post_graduation.board %>">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <select class="no-autoinit" name="postcollegecourse" id="education-post_graduation-course" data-tooltip="Course">
                                <option value="" disabled selected>Choose your course</option>
                                <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                                <option value="Bachelor of Education ( B.Ed)">Bachelor of Education ( B.Ed)</option>
                                <option value="Bachelor of Law (B.L,LLB) ">Bachelor of Law (B.L,LLB) </option>
                                <option value="Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)">Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S) </option>
                                <option value="Bachelor of Architecture (B.Arch) ">Bachelor of Architecture (B.Arch) </option>
                                <option value="Bachelor of Business Administration (B.B.A)">Bachelor of Business Administration (B.B.A) </option>
                                <option value="Bachelor of Business Management (B.B.M) ">Bachelor of Business Management (B.B.M) </option>
                                <option value="Bachelor of Computer Applications (B.C.A) ">Bachelor of Computer Applications (B.C.A) </option>
                                <option value="Bachelor of Commerce (B.Com) ">Bachelor of Commerce (B.Com) </option>
                                <option value="Bachelor of Dental Surgery (B.D.S) ">Bachelor of Dental Surgery (B.D.S) </option>
                                <option value="Bachelor of Engineering (B.E) ">Bachelor of Engineering (B.E) </option>
                                <option value="Bachelor of Education (B.Ed) ">Bachelor of Education (B.Ed) </option>
                                <option value="Bachelor of Fashion Technology (B.F.Tech) ">Bachelor of Fashion Technology (B.F.Tech) </option>
                                <option value="Bachelor of Hotel Management (B.H.M) ">Bachelor of Hotel Management (B.H.M) </option>
                                <option value="Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) ">Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) </option>
                                <option value="Bachelor of Literature (B.Lit) ">Bachelor of Literature (B.Lit) </option>
                                <option value="Bachelor of Pharmacy (B.Pharma) "> Bachelor of Pharmacy (B.Pharma) </option>
                                <option value="Bachelor of Science (B.Sc) "> Bachelor of Science (B.Sc) </option>
                                <option value="Bachelor of Science "> Bachelor of Science </option>
                                <option value="Bachelor of Education (B.Sc.B.Ed)"> Bachelor of Education (B.Sc.B.Ed) </option>
                                <option value="Bachelor of Tourism Administration (B.T.A)"> Bachelor of Tourism Administration (B.T.A) </option>
                                <option value="Basic Training Certificate (B.T.C) "> Basic Training Certificate (B.T.C) </option>
                                <option value="Bachelor of Technology (B.Tech) "> Bachelor of Technology (B.Tech) </option>
                                <option value="Bachelor of Medicine"> Bachelor of Medicine </option>
                                <option value="Bachelor of Surgery (M.B.B.S)"> Bachelor of Surgery (M.B.B.S) </option>
                                <option value="Doctor of Philosophy (Ph. D)"> Doctor of Philosophy (Ph. D) </option>
                                <option value="Master of Arts (M.A)"> Master of Arts (M.A) </option>
                                <option value="Master of Architecture (M.Arch)"> Master of Architecture (M.Arch) </option>
                                <option value="Master of Business Administration (M.B.A)"> Master of Business Administration (M.B.A) </option>
                                <option value="Master of Computer Applications (M.C.A)"> Master of Computer Applications (M.C.A) </option>
                                <option value="Master of Commerce (M.Com)"> Master of Commerce (M.Com) </option>
                                <option value="Doctor of Medicine (M.D)"> Doctor of Medicine (M.D) </option>
                                <option value="Master of Engineering (M.E)"> Master of Engineering (M.E) </option>
                                <option value="Master of Education (M.Ed)"> Master of Education (M.Ed) </option>
                                <option value="Master of Pharmacy (M.Pharma)"> Master of Pharmacy (M.Pharma) </option>
                                <option value="Master of Philosophy (M.Phil)"> Master of Philosophy (M.Phil) </option>
                                <option value="Master of Science (M.Sc)"> Master of Science (M.Sc) </option>
                                <option value="Master of Technology (M.Tech)"> Master of Technology (M.Tech) </option>
                                <option value="Post Graduate Diploma Management (PGDM)"> Post Graduate Diploma Management (PGDM) </option>
                                <option value="Post Graduate Program For Executives (PG EXP)"> Post Graduate Program For Executives (PG EXP) </option>
                                <option value="Post Graduate Program In Management (PGPM)">Post Graduate Program In Management (PGPM)</option>
                                <option value="Others">Others</option>
    
                            </select>
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div>Marks</div>
                            <input id="education-post_graduation-marks" type="text" name="postcollegemarks"  value="<%= profile.education.post_graduation.marks %>">
                        </div>
                        <div class="input-field col s6 offset-s3">
                            <div>Passing Year</div>
                            <input id="education-post_graduation-passing_year" type="text" name="postcollegename"  value="<%= profile.education.post_graduation.passing_year %>">
                        </div>
                        <div class="col s6 offset-s3">
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back2">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step3">
                        </div>
                        </div>
                    </div>
                    <div id="form4" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <div class="col s10">
                            <h5>
                                <b>PROJECTS/INTERNSHIPS/JOBS</b>
                            </h5>
                        </div>
                        <div class="col s1"> <input id="addmoreprojects" type="button" class="ui button mini white-text blue accent-4" value="Add More"></div>
                        <!-- <div class="col s1"> <input id="removeprojects" type="button" class="ui button mini white-text blue accent-4" value="Remove Fields"></div>
                        <br> -->
                        <div id="jobspanel">
                            <% for(let i=0 ; i<profile.experience.length; i++) { %>
                                <div class="col s12">
                                    <div class="input-field col s2">
                                        <select name="projecttype" class="no-autoinit">
                                        <option value="Internship" <% if(profile.experience[i].type=="Internship") { %>selected<% } %>>Internship</option>
                                        <option value="Job" <% if(profile.experience[i].type=="Job") { %>selected<% } %>>Job</option>
                                        <option value="Project" <% if(profile.experience[i].type=="Project") { %>selected<% } %>>Project</option>
                                    </select>
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" name="projectrole" id="projects" placeholder="Title/Role" value="<%= profile.experience[i].role %>">
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" name="projectinstitute" id="projects" placeholder="Organization" value="<%= profile.experience[i].organization %>">
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" name="projectdetails" id="projects" placeholder="Description" value="<%= profile.experience[i].description %>">
                                    </div>
                                    <div class="input-field col s3">
                                        <input class="col s5" type="datetime" name="projectstartdate" id="startdate"  value="<%= profile.experience[i].start_date %>">
                                        <input class="col s5" type="datetime" name="projectenddate" id="enddate"  value="<%= profile.experience[i].end_date %>">
                                    </div>

                                </div>
                                <% } %>
                        </div>
                        <div class="col s6 offset-s3">
                        
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back3">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step4">
                        </div>
                        </div>

                    </div>
                    <div id="form5" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <h5>
                            <b>SKILL</b>
                        </h5>
                        <br>
                        <div id="skillspanel">
                            <div class="col s12">
                                <% for(let i=0 ; i<profile.skills.length; i++){ %>
                                    <div class="input-field col s10">
                                        <div>Enter Your Skills</div>
                                        <input type="text" name="skills" value="<%= profile.skills[i] %>">
                                    </div>
                                    <% } %>
                                        <div class="input-field col s2">
                                            <input id="addmoreskills" type="button" class="ui button white-text mini blue accent-4" value="Add More">
                                        </div>
                            </div>
                        </div>
                        <div class="col s6 offset-s3">
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back4">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step5">
                        </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div id="fulldetials" class="col s12 no-padd" style="padding:10px;display:none;">
                        <div class="card z-depth-0 col s12" style="padding:10px;">
                            <h5>
                                <b>JOB EXPECTATIONS</b>
                            </h5>
                            <br>

                            <div class="input-field col s6 offset-s3">
                                <div>Enter Preferred city</div>
                                <input type="text" name="joblocation">
                            </div>
                            <div class="input-field col s6 offset-s3">
                                <div>Available to join</div>
                                <input class="datepicker" type="text" name="jobavailability">
                            </div>


                        </div>
                        <div class="input-field col s12">

                            <center>
                                <input class="btn btn-large indigo" type="button" value="Back" id="back5">
                                <input class="btn btn-large light-blue accent-4" type="submit" value="Make CV">
                            </center>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->

            <!-- Compiled and minified JavaScript -->
            <script src="/js/stepform.js" type="text/javaScript"></script>
            <script>
                $(document).ready(function() {
                    // M.AutoInit();
                    // $('body').on('focus', ".datepicker", function() {
                    //     $(this).datepicker();

                    // });
                    $('body').on('focus', "select", function() {
                        //M.AutoInit();
                    });
                    $('#addmoreprojects').click(() => {
                        AddMoreProjects($('#jobspanel'));
                       // M.AutoInit();
                    });
                    $('#addmoreskills').click(() => {
                        AddMoreSkills($('#skillspanel'));
                       // M.AutoInit();
                    });
                    //$(document).on('click','.datapicker',M.datepicker);
                });
                // $('select').on('contentChanged', function() {
                //    // $(this).material_select();
                // });
                // document.addEventListener('DOMContentLoaded', function() {
                //     var elems = document.querySelectorAll('.datepicker');
                //     var instances = M.Datepicker.init(elems, {
                //         minDate: new Date(1950, 1, 1),
                //         maxDate: new Date(2010, 1, 1)
                //     });
                // });

                function save() {
                    let params = $("input[type=text]");
                    let rad_buttons = $("input[type='radio'][name='details_gender']:checked");
                    for (let i = 0; i < rad_buttons.length; i++) {
                        params.push(rad_buttons[i]);
                    };
                    delete radios;
                    let dct = new Object();
                    for (let i = 0; i < params.length; i++) {
                        if (params[i].value) {
                            dct[params[i].id] = params[i].value;
                        }
                    }

                    dct.experience = [];
                    for (let i = 0; i < $('input[name=projectrole]').length; i++) {
                        if ($('select[name=projecttype')[i].value == "" ||
                            $('input[name=projectrole]')[i].value == "" ||
                            $('input[name=projectinstitute')[i].value == "" ||
                            $('input[name=projectdetails]')[i].value == "" ||
                            $('input[name=projectstartdate]')[i].value == "" ||
                            $('input[name=projectenddate]')[i].value == "")
                            continue;
                        dct.experience.push({
                            type: $('select[name=projecttype')[i].value,
                            role: $('input[name=projectrole]')[i].value,
                            organization: $('input[name=projectinstitute')[i].value,
                            description: $('input[name=projectdetails]')[i].value,
                            start_date: $('input[name=projectstartdate]')[i].value,
                            end_date: $('input[name=projectenddate]')[i].value
                        });
                    }

                    dct.skills = [];
                    for (let i = 0; i < $('input[name=skills').length; i++) {
                        dct.skills.push($('input[name=skills')[i].value);
                    }
                    console.log(dct);

                    $.ajax({
                        url: "/user/editcv",
                        method: "POST",
                        data: dct,
                        success: function(response) {
                            console.log(response);
                            array = response.messages
                            array.forEach(a => {
                                M.toast({
                                    html: "<b>" + a[0] + "</b>",
                                    classes: a[1]
                                });

                            });
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            </script>
</body>

</html>