<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row">

            <form class="col s10 offset-s1" action="<%- link('cvbuilder', 'user') %>" method="post">
                <div class="col s12" style="height:100px;"></div>
                <div class="row">
                    <div class="col s10">
                        <h3 class="indigo-text">CV BUILDER</h3>
                    </div>
                    <div class="col s1">
                        <a class="btn light-blue white-text z-depth-0" style="border-radius:3px;width:100px;margin-top:35px" onclick="save()"><b>Save</b></a>
                    </div>
                    <div class="col s1">
                        <a class="btn light-blue white-text z-depth-0" style="border-radius:3px;width:100px;margin-top:35px" href="/profile"><b>Cancel</b></a>
                    </div>
                </div>
                <div class="card z-depth-0 col s12" style="padding:10px;">
                    <div id="form1" class="card z-depth-0 col s12" style="padding:10px;">
                        <h5>
                            <b>PERSONAL DETAILS</b>
                        </h5>
                        <br>
                        <br>
                        <div class="input-field col s6">
                            <input type="text" name="fullname" id="details-fullname" class="tooltipped" data-tooltip="Full Name" placeholder="<%= user.fullname %>">
                        </div>

                        <div class="input-field col s6">
                            <input class="tooltipped" data-tooltip="Father's Name" type="text" name="details_fathername" id="details-father_name" placeholder="<%= profile.details.father_name %>">
                        </div>
                        <div class="input-field col s6">
                            <input class="datepicker" type="text" name="details_dob" id="details-dob" class="tooltipped" data-tooltip="Date of Birth" placeholder="<%= profile.details.dob %>">
                        </div>
                        <!-- <div class="input-field col s6">
                        <input type="text" id="city" placeholder="City">
                    </div> -->
                        <div class="input-field col s6">
                            <input type="text" name="aadharno" id="details-aadharno" class="tooltipped" data-tooltip="Aadhar No." placeholder="<%= profile.details.aadharno %>">
                        </div>
                        <div class="input-field col s6">
                            <div class="col s4">
                                <label>
                                <input name="details_gender" value="male" id="details-gender" type="radio" <%= profile.details.gender=="male"?"checked":""%> />
                                <span>Male</span>
                            </label>
                            </div>
                            <div class="col s4">
                                <label>
                                <input name="details_gender" value="female" id="details-gender" type="radio" <%= profile.details.gender=="female"?"checked":""%>/>
                                <span>Female</span>
                            </label>
                            </div>

                        </div>


                        <div class="input-field col s6 offset-s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step1">
                        </div>

                    </div>
                    <div id="form2" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <h5>
                            <b>ADDRESS DETAILS</b>
                        </h5>
                        <br>
                        <br>
                        <div class="input-field col s6">
                            <input type="text" name="fulladdress" id="address-full_address" class="tooltipped" data-tooltip="Address" placeholder="<%= profile.address.full_address %>">
                        </div>
                        <div class="input-field col s6">
                            <input type="text" name="city" id="address-city" class="tooltipped" data-tooltip="City" placeholder="<%= profile.address.city %>">
                        </div>
                        <div class="input-field col s6">
                            <select name="address-state" id="address-state" class="tooltipped" data-tooltip="Course">
                                <option value="" disabled selected>Choose your course</option>
                                <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                            </select>
                            <!--                             <input type="text" name="state" id="address-state" class="tooltipped" data-tooltip="State" placeholder="<%= profile.address.state %>">
 --></div>
                        <div class="input-field col s6">
                            <input type="text" name="zipcode" id="address-pincode" class="tooltipped" data-tooltip="Pin code" placeholder="<%= profile.address.pincode %>">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back1">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step2">
                        </div>

                    </div>
                    <div id="form3" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <h5>
                            <b>EDUCATION DETAILS</b>
                        </h5>
                        <br>
                        <div class="ui label">10TH</div>
                        <br>

                        <div class="holder">
                            <div class="input-field">
                                <input id="education-high-institute_name" type="text" name="school10" class="tooltipped" data-tooltip="Institute Name" placeholder="<%= profile.education.high.institute_name %>">
                            </div>
                            <div class="input-field">
                                <input id="education-high-board" type="text" name="board10" class="tooltipped" data-tooltip="Board" placeholder="<%= profile.education.high.board %>">
                            </div>
                            <div class="input-field">
                                <input id="education-high-course" type="text" name="course10" class="tooltipped" data-tooltip="Course" placeholder="<%= profile.education.high.course %>">
                            </div>
                            <div class="input-field">
                                <input id="education-high-marks" type="text" name="marks10" class="tooltipped" data-tooltip="Marks" placeholder="<%= profile.education.high.marks %>">
                            </div>
                            <div class="input-field">
                                <input id="education-high-passing_year" type="text" name="year10" class="tooltipped" data-tooltip="Passing Year" placeholder="<%= profile.education.high.passing_year %>">
                            </div>
                        </div>
                        <br>

                        <div class="ui label">12TH</div>
                        <br>
                        <div class="holder">
                            <div class="input-field">
                                <input id="education-intermediate-institute_name" type="text" name="school12" class="tooltipped" data-tooltip="Full Name" placeholder="<%= profile.education.intermediate.institute_name %>">
                            </div>
                            <div class="input-field">
                                <input id="education-intermediate-board" type="text" name="board12" class="tooltipped" data-tooltip="Board" placeholder="<%= profile.education.intermediate.board %>">
                            </div>
                            <div class="input-field">
                                <input id="education-intermediate-course" type="text" name="course12" class="tooltipped" data-tooltip="Course" placeholder="<%= profile.education.intermediate.course %>">
                            </div>
                            <div class="input-field">
                                <input id="education-intermediate-marks" type="text" name="marks12" class="tooltipped" data-tooltip="Marks in % / CGPA" placeholder="<%= profile.education.intermediate.marks %>">
                            </div>
                            <div class="input-field">
                                <input id="education-intermediate-passing_year" type="text" name="year12" class="tooltipped" data-tooltip="Passing Year" placeholder="<%= profile.education.intermediate.passing_year %>">
                            </div>
                        </div>
                        <div class="ui label">GRADUATION</div>
                        <br>
                        <div class="input-field col s3">
                            <input id="education-graduation-institute_name" type="text" name="collegename" class="tooltipped" data-tooltip="Institute Name" placeholder="<%= profile.education.graduation.institute_name %>">
                        </div>
                        <div class="input-field col s3">
                            <input id="education-graduation-board" type="text" name="collegeboard" class="tooltipped" data-tooltip="Board" placeholder="<%= profile.education.graduation.board %>">
                        </div>
                        <div class="input-field col s3">
                            <select class="no-autoinit" name="collegecourse" id="education-graduation-course" class="tooltipped" data-tooltip="Course">
                            <option value="" disabled selected>Choose your course</option>
                            <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                            <option value="Bachelor of Education ( B.Ed)">Bachelor of Education ( B.Ed)</option>
                            <option value="Bachelor of Law (B.L,LLB) ">Bachelor of Law (B.L,LLB) </option>
                            <option value="Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)">Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S) </option>
                            <option value="Bachelor of Architecture (B.Arch) ">Bachelor of Architecture (B.Arch) </option>
                            <option value="Bachelor of Business Administration (B.B.A)">Bachelor of Business Administration (B.B.A) </option>
                            <option value="Bachelor of Business Management (B.B.M) ">Bachelor of Business Management (B.B.M) </option>
                            <option value="Bachelor of Computer Applications (B.C.A) ">Bachelor of Computer Applications (B.C.A) </option>
                            <option value="Bachelor of Commerce (B.Com) ">Bachelor of Commerce (B.Com) </option>
                            <option value="Bachelor of Dental Surgery (B.D.S) ">Bachelor of Dental Surgery (B.D.S) </option>
                            <option value="Bachelor of Engineering (B.E) ">Bachelor of Engineering (B.E) </option>
                            <option value="Bachelor of Education (B.Ed) ">Bachelor of Education (B.Ed) </option>
                            <option value="Bachelor of Fashion Technology (B.F.Tech) ">Bachelor of Fashion Technology (B.F.Tech) </option>
                            <option value="Bachelor of Hotel Management (B.H.M) ">Bachelor of Hotel Management (B.H.M) </option>
                            <option value="Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) ">Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) </option>
                            <option value="Bachelor of Literature (B.Lit) ">Bachelor of Literature (B.Lit) </option>
                            <option value="Bachelor of Pharmacy (B.Pharma) "> Bachelor of Pharmacy (B.Pharma) </option>
                            <option value="Bachelor of Science (B.Sc) "> Bachelor of Science (B.Sc) </option>
                            <option value="Bachelor of Science "> Bachelor of Science </option>
                            <option value="Bachelor of Education (B.Sc.B.Ed)"> Bachelor of Education (B.Sc.B.Ed) </option>
                            <option value="Bachelor of Tourism Administration (B.T.A)"> Bachelor of Tourism Administration (B.T.A) </option>
                            <option value="Basic Training Certificate (B.T.C) "> Basic Training Certificate (B.T.C) </option>
                            <option value="Bachelor of Technology (B.Tech) "> Bachelor of Technology (B.Tech) </option>
                            <option value="Bachelor of Medicine"> Bachelor of Medicine </option>
                            <option value="Bachelor of Surgery (M.B.B.S)"> Bachelor of Surgery (M.B.B.S) </option>
                            <option value="Doctor of Philosophy (Ph. D)"> Doctor of Philosophy (Ph. D) </option>
                            <option value="Master of Arts (M.A)"> Master of Arts (M.A) </option>
                            <option value="Master of Architecture (M.Arch)"> Master of Architecture (M.Arch) </option>
                            <option value="Master of Business Administration (M.B.A)"> Master of Business Administration (M.B.A) </option>
                            <option value="Master of Computer Applications (M.C.A)"> Master of Computer Applications (M.C.A) </option>
                            <option value="Master of Commerce (M.Com)"> Master of Commerce (M.Com) </option>
                            <option value="Doctor of Medicine (M.D)"> Doctor of Medicine (M.D) </option>
                            <option value="Master of Engineering (M.E)"> Master of Engineering (M.E) </option>
                            <option value="Master of Education (M.Ed)"> Master of Education (M.Ed) </option>
                            <option value="Master of Pharmacy (M.Pharma)"> Master of Pharmacy (M.Pharma) </option>
                            <option value="Master of Philosophy (M.Phil)"> Master of Philosophy (M.Phil) </option>
                            <option value="Master of Science (M.Sc)"> Master of Science (M.Sc) </option>
                            <option value="Master of Technology (M.Tech)"> Master of Technology (M.Tech) </option>
                            <option value="Post Graduate Diploma Management (PGDM)"> Post Graduate Diploma Management (PGDM) </option>
                            <option value="Post Graduate Program For Executives (PG EXP)"> Post Graduate Program For Executives (PG EXP) </option>
                            <option value="Post Graduate Program In Management (PGPM)">Post Graduate Program In Management (PGPM)</option>
                            <option value="Others">Others</option>

                        </select>
                        </div>
                        <div class="input-field col s3">
                            <input id="education-graduation-marks" type="text" name="collegemarks" class="tooltipped" data-tooltip="Marks" placeholder="<%= profile.education.graduation.marks %>">
                        </div>

                        <div class="ui label">POST GRADUATION</div>
                        <br>
                        <div class="input-field col s3">
                            <input id="education-post_graduation-institute_name" type="text" name="postcollegename" class="tooltipped" data-tooltip="Institute Name" placeholder="<%= profile.education.post_graduation.institute_name %>">
                        </div>
                        <div class="input-field col s3">
                            <input id="education-post_graduation-board" type="text" name="postcollegeboard" data-tooltip="Marks" placeholder="<%= profile.education.post_graduation.board %>">
                        </div>
                        <div class="input-field col s3">
                            <select class="no-autoinit" name="postcollegecourse" id="education-post_graduation-course" data-tooltip="Course">
                                <option value="" disabled selected>Choose your course</option>
                                <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                                <option value="Bachelor of Education ( B.Ed)">Bachelor of Education ( B.Ed)</option>
                                <option value="Bachelor of Law (B.L,LLB) ">Bachelor of Law (B.L,LLB) </option>
                                <option value="Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)">Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S) </option>
                                <option value="Bachelor of Architecture (B.Arch) ">Bachelor of Architecture (B.Arch) </option>
                                <option value="Bachelor of Business Administration (B.B.A)">Bachelor of Business Administration (B.B.A) </option>
                                <option value="Bachelor of Business Management (B.B.M) ">Bachelor of Business Management (B.B.M) </option>
                                <option value="Bachelor of Computer Applications (B.C.A) ">Bachelor of Computer Applications (B.C.A) </option>
                                <option value="Bachelor of Commerce (B.Com) ">Bachelor of Commerce (B.Com) </option>
                                <option value="Bachelor of Dental Surgery (B.D.S) ">Bachelor of Dental Surgery (B.D.S) </option>
                                <option value="Bachelor of Engineering (B.E) ">Bachelor of Engineering (B.E) </option>
                                <option value="Bachelor of Education (B.Ed) ">Bachelor of Education (B.Ed) </option>
                                <option value="Bachelor of Fashion Technology (B.F.Tech) ">Bachelor of Fashion Technology (B.F.Tech) </option>
                                <option value="Bachelor of Hotel Management (B.H.M) ">Bachelor of Hotel Management (B.H.M) </option>
                                <option value="Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) ">Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) </option>
                                <option value="Bachelor of Literature (B.Lit) ">Bachelor of Literature (B.Lit) </option>
                                <option value="Bachelor of Pharmacy (B.Pharma) "> Bachelor of Pharmacy (B.Pharma) </option>
                                <option value="Bachelor of Science (B.Sc) "> Bachelor of Science (B.Sc) </option>
                                <option value="Bachelor of Science "> Bachelor of Science </option>
                                <option value="Bachelor of Education (B.Sc.B.Ed)"> Bachelor of Education (B.Sc.B.Ed) </option>
                                <option value="Bachelor of Tourism Administration (B.T.A)"> Bachelor of Tourism Administration (B.T.A) </option>
                                <option value="Basic Training Certificate (B.T.C) "> Basic Training Certificate (B.T.C) </option>
                                <option value="Bachelor of Technology (B.Tech) "> Bachelor of Technology (B.Tech) </option>
                                <option value="Bachelor of Medicine"> Bachelor of Medicine </option>
                                <option value="Bachelor of Surgery (M.B.B.S)"> Bachelor of Surgery (M.B.B.S) </option>
                                <option value="Doctor of Philosophy (Ph. D)"> Doctor of Philosophy (Ph. D) </option>
                                <option value="Master of Arts (M.A)"> Master of Arts (M.A) </option>
                                <option value="Master of Architecture (M.Arch)"> Master of Architecture (M.Arch) </option>
                                <option value="Master of Business Administration (M.B.A)"> Master of Business Administration (M.B.A) </option>
                                <option value="Master of Computer Applications (M.C.A)"> Master of Computer Applications (M.C.A) </option>
                                <option value="Master of Commerce (M.Com)"> Master of Commerce (M.Com) </option>
                                <option value="Doctor of Medicine (M.D)"> Doctor of Medicine (M.D) </option>
                                <option value="Master of Engineering (M.E)"> Master of Engineering (M.E) </option>
                                <option value="Master of Education (M.Ed)"> Master of Education (M.Ed) </option>
                                <option value="Master of Pharmacy (M.Pharma)"> Master of Pharmacy (M.Pharma) </option>
                                <option value="Master of Philosophy (M.Phil)"> Master of Philosophy (M.Phil) </option>
                                <option value="Master of Science (M.Sc)"> Master of Science (M.Sc) </option>
                                <option value="Master of Technology (M.Tech)"> Master of Technology (M.Tech) </option>
                                <option value="Post Graduate Diploma Management (PGDM)"> Post Graduate Diploma Management (PGDM) </option>
                                <option value="Post Graduate Program For Executives (PG EXP)"> Post Graduate Program For Executives (PG EXP) </option>
                                <option value="Post Graduate Program In Management (PGPM)">Post Graduate Program In Management (PGPM)</option>
                                <option value="Others">Others</option>
    
                            </select>
                        </div>
                        <div class="input-field col s3">
                            <input id="education-post_graduation-marks" type="text" name="postcollegemarks" data-tooltip="Marks" placeholder="<%= profile.education.post_graduation.marks %>">
                        </div>
                        <div class="input-field col s3">
                            <input id="education-post_graduation-passing_year" type="text" name="postcollegename" class="tooltipped" data-tooltip="Passing Year" placeholder="<%= profile.education.post_graduation.passing_year %>">
                        </div>

                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back2">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step3">
                        </div>
                    </div>
                    <div id="form4" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <div class="col s10">
                            <h5>
                                <b>PROJECTS/INTERNSHIPS/JOBS</b>
                            </h5>
                        </div>
                        <div class="col s1"> <input id="addmoreprojects" type="button" class="ui button mini white-text blue accent-4" value="Add More"></div>
                        <!-- <div class="col s1"> <input id="removeprojects" type="button" class="ui button mini white-text blue accent-4" value="Remove Fields"></div>
                        <br> -->
                        <p>
                            <%= profile.experience %>
                        </p>
                        <div id="jobspanel">
                            <% for(let i=0 ; i<profile.experience.length; i++) { %>
                                <div class="col s12">
                                    <div class="input-field col s2">
                                        <select name="projecttype">
                                        <option value="" disabled selected>Choose your course</option>
                                        <option value="internship">Internship</option>
                                        <option value="job">Job</option>
                                        <option value="projects">Project</option>
                                    </select>
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" name="projectrole" id="projects" placeholder="title/role" value="<%= profile.experience[i].role %>">
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" name="projectinstitute" id="projects" placeholder="institute/organization">
                                    </div>
                                    <div class="input-field col s2">
                                        <input type="text" name="projectdetails" id="projects" placeholder="About work">
                                    </div>
                                    <div class="input-field col s3">
                                        <input class="datepicker col s5" type="text" name="projectstartdate" id="startdate" placeholder="Start Date">
                                        <input class="datepicker col s5" type="text" name="projectenddate" id="enddate" placeholder="End Date">
                                    </div>

                                </div>
                                <% } %>
                        </div>
                        <div class="col s12">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back3">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step4">
                        </div>

                    </div>
                    <div id="form5" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                        <h5>
                            <b>SKILL</b>
                        </h5>
                        <br>
                        <div id="skillspanel">
                            <div class="col s12">
                                <% for(let i=0 ; i<profile.skills.length; i++){ %>
                                    <div class="input-field col s10">
                                        <input type="text" name="skills" placeholder="Enter Your Skills" value="<%= profile.skills[i] %>">
                                    </div>
                                    <% } %>
                                        <div class="input-field col s2">
                                            <input id="addmoreskills" type="button" class="ui button white-text mini blue accent-4" value="Add More">
                                        </div>
                            </div>
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back4">
                        </div>
                        <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step5">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div id="fulldetials" class="col s12 no-padd" style="padding:10px;display:none;">
                        <div class="card z-depth-0 col s12" style="padding:10px;">
                            <h5>
                                <b>JOB EXPECTATIONS</b>
                            </h5>
                            <br>

                            <div class="input-field col s6">
                                <input type="text" name="joblocation" placeholder="Enter Preferred city">
                            </div>
                            <div class="input-field col s6">
                                <input class="datepicker" type="text" name="jobavailability" placeholder="Available to join">
                            </div>


                        </div>
                        <div class="input-field col s12">

                            <center>
                                <input class="btn btn-large indigo" type="button" value="Back" id="back5">
                                <input class="btn btn-large light-blue accent-4" type="submit" value="Make CV">
                            </center>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->

            <!-- Compiled and minified JavaScript -->
            <script src="/js/stepform.js" type="text/javaScript"></script>
            <script>
                $(document).ready(function() {
                    M.AutoInit();
                    $('body').on('focus', ".datepicker", function() {
                        $(this).datepicker();

                    });
                    $('body').on('focus', "select", function() {
                        M.AutoInit();
                    });
                    $('#addmoreprojects').click(() => {
                        AddMoreProjects($('#jobspanel'));
                        M.AutoInit();
                    });
                    $('#addmoreskills').click(() => {
                        AddMoreSkills($('#skillspanel'));
                        M.AutoInit();
                    });
                    //$(document).on('click','.datapicker',M.datepicker);
                });
                $('select').on('contentChanged', function() {
                    $(this).material_select();
                });
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.datepicker');
                    var instances = M.Datepicker.init(elems, {
                        minDate: new Date(1950, 1, 1),
                        maxDate: new Date(2010, 1, 1)
                    });
                });

                function save() {
                    let params = $("input[type=text]");
                    let rad_buttons = $("input[type='radio'][name='details_gender']:checked");
                    for (let i = 0; i < rad_buttons.length; i++) {
                        params.push(rad_buttons[i]);
                    };
                    delete radios;
                    let dct = new Object();
                    for (let i = 0; i < params.length; i++) {
                        if (params[i].value) {
                            dct[params[i].id] = params[i].value;
                        }
                    }

                    dct.experience = [];
                    for (let i = 0; i < $('input[name=projectrole]').length; i++) {
                        if ($('select[name=projecttype')[i].value == "" ||
                            $('input[name=projectrole]')[i].value == "" ||
                            $('input[name=projectinstitute')[i].value == "" ||
                            $('input[name=projectdetails]')[i].value == "" ||
                            $('input[name=projectstartdate]')[i].value == "" ||
                            $('input[name=projectenddate]')[i].value == "")
                            continue;
                        dct.experience.push({
                            type: $('select[name=projecttype')[i].value,
                            role: $('input[name=projectrole]')[i].value,
                            organization: $('input[name=projectinstitute')[i].value,
                            description: $('input[name=projectdetails]')[i].value,
                            start_date: $('input[name=projectstartdate]')[i].value,
                            end_date: $('input[name=projectenddate]')[i].value
                        });
                    }

                    dct.skills = [];
                    for (let i = 0; i < $('input[name=skills').length; i++) {
                        dct.skills.push($('input[name=skills')[i].value);
                    }
                    console.log(dct);

                    $.ajax({
                        url: "/user/editcv",
                        method: "POST",
                        data: dct,
                        success: function(response) {
                            console.log(response);
                            array = response.messages
                            array.forEach(a => {
                                M.toast({
                                    html: "<b>" + a[0] + "</b>",
                                    classes: a[1]
                                });

                            });
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            </script>
</body>

</html>