<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
    <!-- NAVIGATION BAR END -->

    <div class="row white-text blue darken-4">
        <div class="col  s12">
            <div class="row" style="height:50px;"></div>
            <h1>
                <b>SCHEDULE YOUR JL TEST NOW</b>
            </h1>

            <div class="row" style="height:50px;"></div>
        </div>
    </div>
    <!-- HEADER END -->
    <div class="row" style="height:40px;"></div>

    <!-- TEST SCHEDULE DETAILS PANEL START -->
    <div class="row">
        <div class="row" style="height:50px;"></div>
        <div class="col s10 offset-s1">
            <div class="col s12">
                <h2 class="grey-text">BOOK YOUR TEST SEAT NOW</h2>
            </div>
            <div class="col s12 card no-padd z-depth-0">
                <div class="grey-text text-darken-2" style="padding:20px 20px 10px 20px;">
                    <span style="font-size:1.7em">Choose your Slot.</span>
                </div>
                <div class="divider"></div>
                <br>
                <% for(var i=0; i < tests.length; i++) { %>
                    <div class="col s12">
                        <div class="col s3">
                            <p><%= tests[i].test.job %></p>
                        </div>
                        <div class="col s3">
                            <p><%= tests[i].test.status %></p>
                        </div>
                        <div class="col s3">
                            <p><%= tests[i].test.payment %></p>
                        </div>
                        <div class="col s3">
                            <p><%= tests[i].test.payment_done %></p>
                        </div>
                        <div class="col s3">
                            <form action="/payment/create-request" class="col s12" method="POST">
                            <input style="display: none" type="text" name="purpose" value="<%= tests[i].test.test.title %>">
                            <input style="display: none" type="text" name="test_id" value="<%= tests[i].test.test._id %>">
                            <input style="display: none" type="text" name="book_id" value="<%= tests[i].test._id %>">
                            <input type="submit" name="Make Payment">
                            </form>
                        </div>
                        <div class="row"></div>
                    </div>
                <% } %>
                <div class="row" style="height:50px;"></div>

            </div>
        </div>

        <div class="row" style="height:50px;"></div>

    </div>

    <!-- FOOTER START -->
    <% include ../../partials/pre_footer %>
        <!-- FOOTER END -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="../js/profiletab.js"></script>
</body>

</html>
