<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
    <!-- NAVIGATION BAR END -->

    <div class="row white-text blue darken-4">
        <div class="col  s12">
            <div class="row" style="height:50px;"></div>
            <h1>
                <b>SCHEDULE YOUR JL TEST NOW</b>
            </h1>

            <div class="row" style="height:50px;"></div>
        </div>
    </div>
    <!-- HEADER END -->
    <div class="row" style="height:40px;"></div>

    <!-- TEST SCHEDULE DETAILS PANEL START -->
    <div class="row">
        <div class="row" style="height:50px;"></div>
        <div class="col s10 offset-s1">
            <div class="col s12 card no-padd z-depth-0">
                <div class="grey-text text-darken-2" style="padding:20px 20px 10px 20px;">
                    <span style="font-size:1.7em">Your Pending Tests</span>
                </div>
                <div class="divider"></div>
                <br>
                <% for(var i=0; i < tests.length; i++) { %>
                    <div class="col s4">
                        <div class="col s12 card z-depth-2"style="border-radius:0px;">
                        <div class="col s12 no-padd">
                            <h6 style="border-bottom: 3px solid blue;padding-bottom:10px;" class="center-align"><b><%= tests[i].test.job %></b></h6>
                            <br>
                            <fieldset>
                                <legend>
                                        <small><b style="letter-spacing:5px;">PAYMENT OF</b></small>
                                </legend>
                                <br>
                                <div><b>Rs 900 + (18 % GST)</b></div>
                                <br>
                            </fieldset>
                            <fieldset>
                                    <legend>
                                            <small><b style="letter-spacing:5px;">VENUE AND DATE</b></small>
                                    </legend>
                                    <br>
                                    <div><b>DELHI / 31/07/2018</b></div>
                                    <br>
                            </fieldset>
                            <fieldset>
                                <legend>
                                        <small><b style="letter-spacing:5px;">PAYMENT STATUS</b></small>
                                </legend>
                                <br>
                                <% if (tests[i].test.status) { %>
                                    <div class="green-text"><b>COMPLETED <i class="fas fa-check"></i></b></div>
                                <% } else { %>
                                    <div>
                                        <form action="/payment/create-request" class="col s12" method="POST">
                                        <input style="display: none" type="text" name="purpose" value="<%= tests[i].test.test.title %>">
                                        <input style="display: none" type="text" name="test_id" value="<%= tests[i].test.test._id %>">
                                        <input style="display: none" type="text" name="book_id" value="<%= tests[i].test._id %>">
                                        <input class="btn red z-depth-0" type="submit" name="submit" value="Make Payment">
                                        </form>
                                    </div>
                                <% } %>
                                <br>
                            </fieldset>
                            <fieldset>
                                    <legend>
                                            <small><b style="letter-spacing:5px;">TEST STATUS</b></small>
                                    </legend>
                                    <br>
                                    <div><b><%= tests[i].test.status %></b></div>
                                    <br>
                            </fieldset>
                            
                            <!-- <div><%= tests[i].test.status %></div>
                            
                            
                            <div><%= tests[i].test.payment %></div>
                            <div><%= tests[i].test.payment_done %></div> -->
                       
                        
                            
                        </div>
                        
                        <div class="row"></div>
                    </div>
                    </div>
                <% } %>
                <div class="row" style="height:50px;"></div>

            </div>
        </div>

        <div class="row" style="height:50px;"></div>

    </div>

    <!-- FOOTER START -->
    <% include ../../partials/pre_footer %>
        <!-- FOOTER END -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="../js/profiletab.js"></script>
</body>

</html>
