<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
        <!-- NAVIGATION BAR END -->

        <!-- USER BANNER-->
        <style>
            .profile-active {
                color: black !important;
                border-color: #000 !important;
            }
            
            .upload-form {
                transition: all .3s ease-in-out !important;
                opacity: 0;
            }
            
            .mypic-con:hover .upload-form {
                opacity: 1;
            }
        </style>

        <div class="row" style="height:50px;"></div>
        <div class="row no-padd">

            <div class="col s12 no-padd animated fadeIn">
                <div ng-controller="controller">
                    <div class="col l2 m3 s12 no-padd">
                        <center>
                            <br>
                            <div class="black mypic-con" style="width:150px; height:150px; overflow:hidden;border-radius:100%;display:flex;position: relative;">
                                <img id="myimg" style="width:100%;margin:auto;" src="/img/profilepic.jpg" alt="">
                                <br>
                                <div class="upload-form" style="width:100%;height:100%;margin:auto;position: absolute;background-color:rgba(0,0,0,0.5);">

                                    <form action="/picupload" method="GET">
                                        <input name="pic" type="file" id="picfile" style="display:none" onchange="previewFile()">
                                        <label id="plab" for="picfile" class="ui button white mini" style="margin-top:50px;">Choose File</label><br>
                                        <div id="panel" style="display:none;margin-top:50px;">
                                            <div style="display:flex;">
                                                <input style="flex: 1" id="psub" type="submit" class="ui button mini amber" value="upload"><br>
                                                <input style="flex: 1" id="pcan" type="button" class="ui button mini red" value="cancel">
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col l10 m9 s12 no-padd">
                        <div class="col s12">
                            <h5>
                                <b id="u_name"><%= data.fullname %></b>
                            </h5>
                            <div class="col l3 m4 s7 no-padd">
                                <span id="u_email" class="blue-text"><%= data.email %></span>
                                <br>
                                <%= data.verified %>
                            </div>
                            <div class="col l2 m2 s3 no-padd">
                                <span id="u_city"><%= data.profile.address.city %></span>
                            </div>
                            <div class="col l2 m3 s2 no-padd">
                                <span id="u_edu"><%= data.profile.address.state %></span>
                            </div>
                        </div>
                        <div class="col s12 no-padd">
                            <div class=" hide-on-small-only">
                                <div class="col s12 no-padd">
                                    <br>
                                    <a id="l3" style="border: 1px solid #aaa;" href="/upcoming-jl-test" class="z-depth-0 btn white grey-text grey lighten-4">
                                        <b>Schedule Test</b>
                                    </a>
                                    <a id="l2" style="border: 1px solid #aaa;" href="<%- link('profile', 'user') %>" data-target='dropdown1' class=" dropdown-trigger z-depth-0 btn white grey-text grey lighten-4">
                                        <b>JL TEST</b>
                                    </a>
                                    <!-- Dropdown Structure -->
                                    <ul id='dropdown1' class='dropdown-content'>

                                        <li>
                                            <a onclick="M.toast({html: 'You haven\'t given the JL Test yet.' })">Admit Card</a>
                                        </li>
                                    </ul>
                                    <!-- <a id="l4" style="border: 1px solid #aaa;" href="../templates/myjob.html" class="z-depth-0 btn white grey-text grey lighten-4">
                                    <b>My Job</b>
                                </a> -->
                                    <a id="l6" style="border: 1px solid #aaa;" href="/user/editcv" class="z-depth-0 btn green accent-4">
                                        <b>EDIT PROFILE</b>
                                    </a>
                                    <form class="z-depth-0 btn white" action="/picupload" method="GET" enctype="multipart/form-data">
                                        <input name="resume" type="file" id="resume" style="display:none" onchange="previewFile()">
                                        <label id="resume-label" for="resume" class="ui button blue white-text">
                                                        Upload Resume
                                                        <i id="f1" class="fas fa-circle-notch uploadIn" style="display:none"></i>
                                                        <i id="f2" class="fas fa-check" style="display:none"></i>
                                                        <i id="f3" class="fas fa-times" style="display:none"></i>
                                                    </label>
                                    </form>

                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- USER BANNER END-->



        <div class="row no-padd grd">
            <div class="row no-padd">
                <div class="col  s12 card no-padd z-depth-0">
                    <div class="col s12 grey lighten-4 no-padd">
                        <h5 style="padding-left:10px;">
                            <b>My Profile</b>
                        </h5>
                    </div>
                    <div class="col s12 no-padd">
                        <div class="col s12 no-padd">
                            <button style="border-radius:0px;" id="tab1" class="no-padd col l3 s12 btn z-depth-0 light-blue white-text">Personal Details</button>
                            <button style="border-radius:0px;" id="tab2" class="no-padd col l3 s12 btn z-depth-0 blue">Education</button>
                            <button style="border-radius:0px;" id="tab3" class="no-padd col l3 s12 btn z-depth-0 green accent-4">Technical</button>
                            <button style="border-radius:0px;" id="tab4" class="no-padd col l3 s12 btn z-depth-0 red accent-4">View CV</button>
                        </div>

                        <div id="panel1" class="col s12 light-blue">
                            <br>
                            <div class="col l10 offset-l1 s12 white">
                                <h5>
                                    <b>PERSONAL DETAILS</b>
                                </h5>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Name</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.fullname %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Date of birth</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.details.dob %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Gender</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.details.gender %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Email id</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.email %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Contact no</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.phoneno %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Aadhar no</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.details.aadharno %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>
                            <div class="col l10 offset-l1 s12 white">
                                <h5>
                                    <b>ADDRESS</b>
                                </h5>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Address</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.fulladdress %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>State</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.state %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>City</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.city %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>ZIP CODE</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.pincode %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>
                        </div>
                        <div id="panel2" class="col s12 blue" style="display:none;">
                            <br>
                            <div class="col l10 offset-l1 s12 white">
                                <h5>
                                    <b>EDUCATION DETAILS</b>
                                </h5>
                                <div class="divider"></div>
                                <br>
                                <h6>
                                    <b>10TH</b>
                                </h6>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>School Name</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.high.institute_name %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Board</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.high.board %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Passing Year</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.high.passing_year %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Marks</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.high.marks %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>
                            <div class="col l10 offset-l1 s12 white">
                                <h5>
                                    <b>EDUCATION DETAILS</b>
                                </h5>
                                <div class="divider"></div>
                                <br>
                                <h6>
                                    <b>12TH</b>
                                </h6>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>School Name</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.intermediate.institute_nam %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Board</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.intermediate.board %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Passing Year</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.intermediate.passing_year %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Marks</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.intermediate.marks %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>

                            <div class="col l10 offset-l1 s12 white">
                                <h5>
                                    <b>College</b>
                                </h5>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>College Name</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.graduation.institute_name %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Board</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.graduation.board %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Passing Year</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.graduation.passing_year %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Marks</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.graduation.marks %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>

                        </div>

                        <div id="panel3" class="col s12 green accent-4" style="display:none;">
                            <br>
                            <div class="col l10 offset-l1 s12 white">
                                <h5>
                                    <b>TECHNICAL DETAILS</b>
                                </h5>
                                <br>
                                <div class="divider"></div>
                                <br>
                                <h6>
                                    <b>Project Details</b>
                                </h6>
                                <br>
                                <% for(var i=0; i < data.profile.experience.length; i++) { %>
                                    <div id="cont">
                                        <div class="col s12">
                                            <div class="col s3">
                                                <b>Project Name</b>
                                            </div>
                                            <div class="col s8" id="proj">
                                                <%= data.profile.experience[i].profile %>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="col s12">
                                            <div class="col s3">
                                                <b>Institute/Organisation</b>
                                            </div>
                                            <div class="col s8">
                                                <%= data.profile.experience[i].organization %>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="col s12">
                                            <div class="col s3">
                                                <b>Duration</b>
                                            </div>
                                            <div class="col s8">
                                                <%= data.profile.experience[i].start_date %> to
                                                    <%= data.profile.experience[i].end_date %>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="row"></div>
                                        <div class="col s12">
                                            <div class="col s3">
                                                <b>ProJect Details</b>
                                            </div>
                                            <div class="col s8">
                                                <%= data.profile.experience[i].projectdesc %>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="row"></div>
                            <div class="col l10 offset-l1 s12 white">
                                <h5>
                                    <b>TECHNICAL SKILLS</b>
                                </h5>
                                <br>
                                <% for(var i=0; i < data.profile.skills.length; i++) { %>
                                    <div class="col s12">
                                        <div class="ui label">
                                            <%= data.profile.skills[i] %>
                                        </div>
                                    </div>
                                <% } %>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>
                            <div class="col l10  offset-l1 s12 white">
                                <h5>
                                    <b>JOB EXPECTATIONS</b>
                                </h5>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Available for work after</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.jobavailability %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <b>Preferred City</b>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.joblocation %>
                                    </div>
                                </div>

                                <div class="row"></div>
                            </div>

                            <div class="row"></div>
                        </div>
                        <div id="panel4" class="col s12 amber accent-4" style="display:none;">
                            <div class="row grey lighten-2">
                                <div class="col s12 grey lighten-2" style="height:50px;"></div>
                                <div class="col s8 offset-s2 card" style="border-radius:5px;">
                                    <div id="resumebox" class="col s10 offset-s1">
                                        <br>
                                        <br>
                                        <h4>
                                            <b><%= data.fullname %></b>
                                        </h4>
                                        <div class="ui label blue-text blue">
                                            <%= data.email %>
                                        </div>
                                        <div>
                                            <%= data.contactno %>
                                        </div>
                                        <div>
                                            <%= data.profile.address.city %>,
                                                <%= data.profile.address.state %>
                                        </div>
                                        <br>
                                        <div class="divider"></div>
                                        <br>
                                        <div class="col s12 no-padd">
                                            <div class="col s3">
                                                <b style="font-size:1.5em">EDUCATION</b>
                                            </div>
                                            <div class="col s9">
                                                <div>High School</div>
                                                <div>
                                                    <%= data.profile.school10 %>
                                                </div>
                                                <div>
                                                    <%= data.profile.board10 %>
                                                </div>
                                                <div>
                                                    <%= data.profile.marks10 %>
                                                </div>
                                                <div>
                                                    <%= data.profile.course10 %>
                                                </div>
                                                <br>
                                                <div>Senior Secondary School</div>
                                                <div>
                                                    <%= data.profile.school12 %>
                                                </div>
                                                <div>
                                                    <%= data.profile.board12 %>
                                                </div>
                                                <div>
                                                    <%= data.profile.marks12 %>
                                                </div>
                                                <div>
                                                    <%= data.profile.course12 %>
                                                </div>
                                                <br>
                                                <div>
                                                    <a data-html2canvas-ignore id="r1" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>

                                        </div>
                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s3">
                                                <b style="font-size:1.5em">COLLEGE EDUCATION</b>
                                            </div>
                                            <div class="col s9">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.profile.collegename %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.collegeboard %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.collegemarks %>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="col s12 no-padd">
                                                    <div>POST GRADUATION DETAILS</div>
                                                    <div>
                                                        <%= data.profile.postcollegename %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.postcollegeboard %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.postcollegecourse %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.postcollegemarks %>
                                                    </div>
                                                    <br>
                                                </div>

                                                <div class="col s12 no-padd">
                                                    <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecvid">Add More+</a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s3">
                                                <b style="font-size:1.5em">PROJECTS / INTERNSHIPS</b>
                                            </div>
                                            <div class="col s9">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.profile.projects %>
                                                    </div>
                                                    <br>
                                                    <div class="col s12 no-padd">
                                                        <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>

                                                    </div>
                                                </div>
                                                <br>

                                            </div>


                                        </div>

                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s3">
                                                <b style="font-size:1.5em">ROLES / SKILLS</b>
                                            </div>
                                            <div class="col s9">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.profile.skills %>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="col s12 no-padd">
                                                    <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>

                                                </div>
                                                <br>
                                            </div>


                                        </div>

                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s3">
                                                <b style="font-size:1.5em">PREFFERED LOCATION</b>
                                            </div>
                                            <div class="col s9">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.profile.joblocation %>
                                                    </div>
                                                    <br>
                                                </div>
                                                <br>
                                                <div class="col s12 no-padd">
                                                    <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s3">
                                                <b style="font-size:1.5em">AVAILABLE FROM</b>
                                            </div>
                                            <div class="col s9">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.jobavailability %>
                                                    </div>
                                                    <br>
                                                </div>
                                                <br>
                                            </div>
                                            <br><br><br><br>
                                        </div>
                                    </div>


                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>
        </div>

        </div>
        </div>
        </div>
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
            <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
            <script src="../js/profiletab.js"></script>
</body>

</html>