<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
    <style>
        .profile-active {
            color: black !important;
            border-color: #000 !important;
        }
        
        .upload-form {
            transition: all .3s ease-in-out !important;
            opacity: 0;
        }
        
        .mypic-con:hover .upload-form {
            opacity: 1;
        }
        div.col.s12>button{
            transition:all .3s ease-in-out;
            height:50px !important;
            margin-top:10px !important;
            top:3px;
        }
        .active-tab{
            border:3px solid rgb(16, 59, 248) !important;
            background-color:rgb(16, 59, 248) !important;
            position: relative;
            top:3px;
            color:#fff !important;
        }
        #panel1,#panel2,#panel3,#panel4{
            border: 3px solid rgb(16, 59, 248) !important;
            background:rgba(255,255,255,0.8);
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
        <!-- NAVIGATION BAR END -->

        <!-- USER BANNER-->
        

        <div class="row" style="height:50px;"></div>
        <div class="row no-padd" style="background-image:url('/img/userheader.png');background-position:left center;background-repeat: no-repeat;">
        
        <div class="col s8 offset-s2 no-padd animated fadeIn">
                <div ng-controller="controller">
                    <div class="col l12 m3 s12 no-padd">
                        <center>
                            <br>
                            <div class="black mypic-con" style="width:75px; height:75px; overflow:hidden;border-radius:100%;display:flex;position: relative;">
                                <img id="myimg" style="width:100%;margin:auto;" src="/img/profilepic.jpg" alt="">
                                <!-- <div class="upload-form" style="width:100%;height:100%;margin:auto;position: absolute;background-color:rgba(0,0,0,0.5);">

                                    <form action="/picupload" method="GET">
                                        <input name="pic" type="file" id="picfile" style="display:none" onchange="previewFile()">
                                        <label id="plab" for="picfile" class="ui button white mini" style="margin-top:50px;">Choose File</label><br>
                                        <div id="panel" style="display:none;margin-top:50px;">
                                            <div style="display:flex;">
                                                <input style="flex: 1" id="psub" type="submit" class="ui button mini amber" value="upload"><br>
                                                <input style="flex: 1" id="pcan" type="button" class="ui button mini red" value="cancel">
                                            </div>

                                        </div>

                                    </form>
                                </div> -->
                            </div>
                        </center>
                    </div>
                    <div class="col l12 m9 s12 no-padd">
                        <div class="col s12">
                            <center>
                                <br>
                                <h4 class="hide-on-small-only"><b id="u_name"><%= data.fullname %></b></h4>
                                <h5 class="hide-on-med-and-up show-on-small-only"><b id="u_name"><%= data.fullname %></b></h5>
                                <span id="u_email" class="blue-text"><%= data.email %></span>
                                <% if (data.verified) { %>
                                    <div class="ui label green dark-green-text">
                                        Verified
                                    </div>
                                    <i class="fas fa-check green-text"></i>
                                <% } else {%>
                                    <a href="/user/resend-email"><div class="ui label red dark-green-text">
                                        Unverified
                                    </div></a>
                                    <i class="fas fa-times red-text"></i>
                                <% } %>

                                <span id="u_city"><%= data.profile.address.city %></span>
                                <span id="u_edu"><%= data.profile.address.state %></span>
                            </center>
                            
                            
                        </div>
                        <div class="col s12 no-padd">
                            
                                   <center> 
                                       <br>
                                    <a id="l3"  href="/upcoming-jl-test" class="z-depth-0 btn white indigo-text lighten-4">
                                        <b>Schedule Test</b>
                                    </a>
                               
                           
                                    <a id="l2"  href="<%- link('profile', 'user') %>" data-target='dropdown1' class=" dropdown-trigger z-depth-0 btn white indigo-text  lighten-4">
                                        <b>JL TEST</b>
                                    </a>
                                    <!-- Dropdown Structure -->
                                    <ul id='dropdown1' class='dropdown-content'>
                
                                        <li>
                                            <a onclick="M.toast({html: 'You haven\'t given the JL Test yet.' })">Admit Card</a>
                                        </li>
                                    </ul>
                               
                                    <a id="l6" href="/user/editcv" class="z-depth-0 btn white indigo-text text-lighten-1 accent-4">
                                        <b>EDIT PROFILE</b>
                                    </a>
                                    <a id="l6" href="/user/mytests" class="z-depth-0 btn white indigo-text text-lighten-1 accent-4">
                                        <b>MY TEST</b>
                                    </a>
                                </center>
                                                
                            
                
                        </div>
                        
                    </div>
                </div>
        </div>
        <div class="col s12" style="height:50px;"></div>        
        </div>
        <!-- USER BANNER END-->



        <div class="row no-padd grd"style="background-image:url('/img/userprofile.png');background-position:right bottom;background-repeat: no-repeat;background-attachment: fixed;">
            <div class="row no-padd">
                <div class="col  l8 offset-l2 s12  card no-padd z-depth-0" style="background:transparent">
                    <div class="col s12 no-padd white">
                        <h5 style="padding-left:10px;">
                            <b>My Profile</b>
                        </h5>
                    </div>
                    <div class="col s12 no-padd">
                        <div class="col s12 no-padd">
                            <button style="border-radius:0px;border-bottom:3px solid #fff;" id="tab1" class="active-tab no-padd col l2 s3 btn z-depth-0 grey-text lighten-2 white"><i class="fas fa-user fa-2x"></i></button>
                            <button style="border-radius:0px;border-bottom:3px solid #fff;" id="tab2" class="no-padd col l2 s3 btn z-depth-0 grey-text lighten-2 white"><i class="fas fa-graduation-cap fa-2x"></i></button>
                            <button style="border-radius:0px;border-bottom:3px solid #fff;" id="tab3" class="no-padd col l2 s3 btn z-depth-0 grey-text lighten-2 white"><i class="fas fa-wrench fa-2x"></i></button>
                            <button style="border-radius:0px;border-bottom:3px solid #fff;" id="tab4" class="no-padd col l2 s3 btn z-depth-0 grey-text lighten-2 white"><i class="fas fa-file-alt fa-2x"></i></button>
                        </div>

                        <div id="panel1" class="animated fadeIn col s12">
                            <br>
                            <div class="col l6 s12">
                                <h6>
                                    PERSONAL DETAILS
                                </h6>
                                
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Name</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.fullname %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Date of birth</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.details.dob %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                       <small> <b>Gender</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.details.gender %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Email id</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.email %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Contact no</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.phoneno %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                       <small> <b>Aadhar no</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.details.aadharno %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            
                            <div class="col l6 s12">
                                <h6>
                                    ADDRESS
                                </h6>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Address</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.fulladdress %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>State</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.state %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>City</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.city %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>ZIP CODE</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.address.pincode %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>
                        </div>
                        <div id="panel2" class="col s12"style="display:none;">
                            <br>
                            <h6>
                                EDUCATION DETAILS
                            </h6>
                            <div class="divider"></div>
                            <br>
                            <div class="col l6 s12">
                                <h6>
                                    <b>10TH</b>
                                </h6>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>School Name</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.high.institute_name %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Board</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.high.board %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Passing Year</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= (new Date(data.profile.education.high.passing_year)).getFullYear() %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Marks</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.high.marks %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="col l6 s12">
                                <h6>
                                    <b>12TH</b>
                                </h6>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>School Name</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.intermediate.institute_name %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Board</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.intermediate.board %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                       <small> <b>Passing Year</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= (new Date(data.profile.education.intermediate.passing_year)).getFullYear() %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                       <small> <b>Marks</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.intermediate.marks %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="col l6 s12">
                                <h5>
                                    <b>College</b>
                                </h5>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>College Name</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.graduation.institute_name %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Board</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.graduation.board %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Passing Year</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= (new Date(data.profile.education.graduation.passing_year)).getFullYear() %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Marks</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.education.graduation.marks %>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="row"></div>

                        </div>

                        <div id="panel3" class="col s12"style="display:none;">
                            <br>
                            <div class="col l12 s12">
                                <h6>
                                    TECHNICAL DETAILS
                                </h6>
                                <br>
                                <div class="divider"></div>
                                <br>
                                <h6>
                                    <b>Project Details</b>
                                </h6>
                                <br>
                                <% for(var i=0; i < data.profile.experience.length; i++) { %>
                                    <div id="cont">

                                        <div class="col s12">
                                            <div class="col s3">
                                                <small><b>Project Role</b></small>
                                            </div>
                                            <div class="col s8" id="proj">
                                                <%= data.profile.experience[i].role %>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="col s12">
                                            <div class="col s3">
                                                <small><b>Institute/Organisation</b></small>
                                            </div>
                                            <div class="col s8">
                                                <%= data.profile.experience[i].organization %>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <div class="col s3">
                                               <small> <b>Project Type</b></small>
                                            </div>
                                            <div class="col s8">
                                                <%= data.profile.experience[i].type %>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="col s12">
                                            <div class="col s3">
                                                <small><b>Duration</b></small>
                                            </div>
                                            <div class="col s8">
                                                <%= data.profile.experience[i].start_date %> to
                                                    <%= data.profile.experience[i].end_date %>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <div class="col s3">
                                                <small><b>Project Details</b></small>
                                            </div>
                                            <div class="col s8">
                                                <%= data.profile.experience[i].description %>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                    </div>
                                    <hr>
                                    <% } %>
                            </div>
                            <div class="row"></div>
                            <div class="col l6 s12 white">
                                <h6>
                                    TECHNICAL SKILLS
                                </h6>
                                <br>
                                <div style="display: flex;flex-direction: row; justify-content: flex-start">
                                    <% for(var i=0; i < data.profile.skills.length; i++) { %>

                                        <div class="ui label red white-text">
                                            <%= data.profile.skills[i] %>
                                        </div>

                                        <% } %>
                                </div>
                                <div class="row"></div>
                            </div>
                            <div class="col l6 s12">
                                <h6>
                                    JOB EXPECTATIONS
                                </h6>
                                <br>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Available for work after</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.jobavailability %>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col s12">
                                    <div class="col s3">
                                        <small><b>Preferred City</b></small>
                                    </div>
                                    <div class="col s8">
                                        <%= data.profile.joblocation %>
                                    </div>
                                </div>

                                <div class="row"></div>
                            </div>

                            <div class="row"></div>
                        </div>
                        <div id="panel4" class="col s12"style="display:none;">
                            <div class="row">
                                <div class="col s12 card z-depth-0" style="border-radius:5px;">
                                    <div id="resumebox" class="col s11">
                                        <br>
                                        <h6>
                                            <b><%= data.fullname %></b>
                                        </h6>
                                        <div class="ui label blue-text blue">
                                            <%= data.email %>
                                        </div>
                                        <div>
                                            <%= data.contactno %>
                                        </div>
                                        <div>
                                            <%= data.profile.address.city %>,
                                                <%= data.profile.address.state %>
                                        </div>
                                        <br>
                                        <div class="divider"></div>
                                        <br>
                                        <div class="col s12 no-padd">
                                            <div class="col s2">
                                                <small><b style="font-size:1em">EDUCATION</b></small>
                                            </div>
                                            <div class="col s10">
                                                <div>High School</div>
                                                <div>
                                                    <%= data.profile.education.high.institute_name %>
                                                </div>
                                                <div>
                                                    <%= data.profile.education.high.board %>
                                                </div>
                                                <div>
                                                    <%= data.profile.education.high.marks %>
                                                </div>
                                                <div>
                                                    <%= data.profile.education.course %>
                                                </div>
                                                <div>
                                                    <%= (new Date(data.profile.education.passing_year)).getFullYear() %>
                                                <br>
                                                <div>Senior Secondary School</div>
                                                <div>
                                                    <%= data.profile.education.intermediate.institute_name %>
                                                </div>
                                                <div>
                                                    <%= data.profile.education.intermediate.board %>
                                                </div>
                                                <div>
                                                    <%= data.profile.education.intermediate.marks %>
                                                </div>
                                                <div>
                                                    <%= data.profile.education.intermediate.course %>
                                                </div>
                                                <div>
                                                    <%= (new Date(data.profile.education.intermediate.passing_year)).getFullYear() %>
                                                </div>
                                                
                                                <br>
                                                <div>
                                                    <a data-html2canvas-ignore id="r1" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>

                                        </div>
                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s2">
                                                <small><b style="font-size:1em">COLLEGE EDUCATION</b></small>
                                            </div>
                                            <div class="col s10">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.profile.education.graduation.institute_name %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.education.graduation.board %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.education.graduation.marks %>
                                                    </div>
                                                    <div>
                                                        <%= (new Date(data.profile.education.graduation.passing_year)).getFullYear() %>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="col s12 no-padd">
                                                    <div>POST GRADUATION DETAILS</div>
                                                    <div>
                                                        <%= data.profile.education.post_graduation.institute_name %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.education.post_graduation.board %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.education.post_graduation.course %>
                                                    </div>
                                                    <div>
                                                        <%= data.profile.education.post_graduation.marks %>
                                                    </div>
                                                    <div>
                                                        <%= (new Date(data.profile.education.post_graduation.passing_year)).getFullYear() %>
                                                    </div>
                                                    
                                                    <br>
                                                </div>

                                                <div class="col s12 no-padd">
                                                    <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecvid">Add More+</a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s2">
                                                <small><b style="font-size:1em">PROJECTS / INTERNSHIPS</b></small>
                                            </div>
                                            <div class="col s10">
                                                <% for(let i=0; i<data.profile.experience.length; i++) {%>
                                                    <div class="col s12 no-padd">
                                                        <div>
                                                            <b><%= data.profile.experience[i].role %></b><br>
                                                            <%= data.profile.experience[i].type %><br>
                                                            <%= data.profile.experience[i].organization %><br>
                                                            <%= data.profile.experience[i].description %><br>
                                                            <%= data.profile.experience[i].start_date %> to
                                                            <%= data.profile.experience[i].end_date %>
                                                        </div>
                                                        <br>
                                                        <div class="col s12 no-padd">
                                                            <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>

                                                        </div>
                                                    </div>
                                                <% } %>
                                                    <br>

                                            </div>


                                        </div>

                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s2">
                                               <small> <b style="font-size:1em">ROLES / SKILLS</b></small>
                                            </div>
                                            <div class="col s10">
                                                <div class="col s12 no-padd">
                                                <% for(let i=0; i<data.profile.skills.length; i++) { %>
                                                    <div>
                                                        <%= data.profile.skills[i] %>
                                                    </div>
                                                <% } %>
                                                    <br>
                                                </div>
                                                <div class="col s12 no-padd">
                                                    <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>

                                                </div>
                                                <br>
                                            </div>


                                        </div>

                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s2">
                                                <small><b style="font-size:1em">PREFFERED LOCATION</b></small>
                                            </div>
                                            <div class="col s10">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.profile.joblocation %>
                                                    </div>
                                                    <br>
                                                </div>
                                                <br>
                                                <div class="col s12 no-padd">
                                                    <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecv/id">Add More+</a>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col s12 no-padd">
                                            <div class="divider"></div>
                                            <br>
                                            <div class="col s2">
                                                <small><b style="font-size:1em">AVAILABLE FROM</b></small>
                                            </div>
                                            <div class="col s10">
                                                <div class="col s12 no-padd">
                                                    <div>
                                                        <%= data.jobavailability %>
                                                    </div>
                                                    <br>
                                                </div>
                                                <br>
                                            </div>
                                            <br><br><br><br>
                                        </div>
                                    </div>


                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        </div>

        

        <!-- FOOTER START -->
        <% include ../../partials/post_footer %>
            <!-- FOOTER END -->
            <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
            <script src="../js/profiletab.js"></script>
</body>

</html>