<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content="Find latest freshers jobs in India. Search for best suitable job vacancies in India's top companies and apply for IT, MBA, accounting, BPO, marketing and sales & other jobs in India.">
    <% include ../../partials/pre_head %>
        <title></title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/recruiter_header %>
        <!-- NAVIGATION BAR END -->

        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col s12">
                <div class="row" style="height:50px;"></div>
                <h2>
                    <b>FRESHERS JOBS IN INDIA - APPLY NOW</b>
                </h2>
                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- <div class="row" style="height:50px;"></div> -->
        <!--  <div id="userprofile" class="row no-padd">

    </div>
-->
        <div class="row">
            <div class="col l10 offset-l1 s12">
                <div class="col s12">
                    <h3>
                        <b>JOB OPPORTUNITIES IN INDIA</b>
                    </h3>
                    <div class="divider"></div>
                    <br>
                    <div id="joblistcon">
                        <% for(var i=0; i < jobs.length; i++) { %>
                            <div class="col l3 s12 " style="cursor:pointer;">
                                <div class="col s12 ui white card no-padd hoverable animated bounceIn" style="animation-delay:` + Math.random() * 1 + `s;border-radius:0px 0px 10px 10px;border-top:2px solid indigo">
                                    <div class="col s12">
                                        <h6 style="text-transform:uppercase;"><b>
                                            <i class="fas fa-building fa-1x grey-text lighten-2"></i><%= jobs[i].job.title %> JOB</b>
                                        </h6>
                                        <small><i><%= jobs[i].company.name %></i></small><br/>
                                        <div class="col s12 no-padd">
                                            <div class="col s12 no-padd">
                                                <strong> EXP : <%= jobs[i].job.experience %> </strong>
                                            </div>
                                            <div class="col s12 no-padd">
                                                <strong>  SALARY : <%= jobs[i].job.salary.min %>-<%= jobs[i].job.salary.max %> LPA </strong>
                                            </div>
                                            <div class="col s12 no-padd">
                                                <strong>  LOCATION : <%= jobs[i].job.location %></strong>
                                            </div>
                                        </div>
                                        <div class="col s12 no-padd">
                                            <a href="/admin/edit-info/<%= jobs[i].id %>">Read More</a>
                                        </div>
                                        <div class="col s12 no-padd">
                                            <a href="/admin/edit-info/<%= jobs[i].id %>" class="btn white indigo-text right accent-4 z-depth-0">
                                                <b>EDIT JOB</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"></div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->

            <!-- Compiled and minified JavaScript -->
         
</body>

</html>