<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content="Find latest freshers jobs in India. Search for best suitable job vacancies in India's top companies and apply for IT, MBA, accounting, BPO, marketing and sales & other jobs in India.">
    <% include ../../partials/pre_head %>
        <title></title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/recruiter_header %>
        <!-- NAVIGATION BAR END -->

        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col s12">
                <div class="row" style="height:50px;"></div>
                <h2>
                    <b>FRESHERS JOBS IN INDIA - APPLY NOW</b>
                </h2>
                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- <div class="row" style="height:50px;"></div> -->
        <!--  <div id="userprofile" class="row no-padd">

    </div>
-->
        <div class="row">
            <div class="col l10 offset-l1 s12">
                <div class="col s12">
                    <h3>
                        <b>ALL USERS</b>
                    </h3>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s9"></div>
                        <div class="col s3">
                            <input type="text" name="search" id="search" placeholder="Search users" oninput="search()"/>
                        </div>
                    </div>
                    <br>
                    <div id="userlist">
                        <% for(var i=0; i < users.length; i++) { %>
                            <div style="cursor:pointer;" class="col l12 s12 namecard" id="<%= users[i].name.first %>">
                                <div class="col s12 ui white card hoverable animated bounceIn" style="animation-delay:` + Math.random() * 1 + `s;border-radius:0px 0px 10px 10px;border-top:2px solid indigo">
                                    <br>Name:   <%= users[i].name.first %> <%= users[i].name.last %><br>
                                    Verfied: <%= users[i].verified %><br>
                                    Email: <%= users[i].email %><br>
                                    Phone No.: <%= users[i].phoneno %><br>
                                    Role: <%= users[i].role %><br>
                                    <a href="#modal<%= users[i]._id %>" class="btn right modal-trigger">View all data</a>
                                </div>
                                <div class="row"></div>

                                <!-- Modal Structure -->
                                <div id="modal<%= users[i]._id %>" class="modal">
                                    <div class="modal-content">
                                        <h4><%= users[i].name.first %> <%= users[i].name.last %></h4>
                                        <div class="row">
                                        <div class="col s6">
                                        <p>Verfied: <%= users[i].verified %></p>
                                        <p>Email: <%= users[i].email %></p>
                                        <p>Phone No.: <%= users[i].phoneno %></p>
                                        <p>Role: <%= users[i].role %></p>
                                        <p>Father's Name: <%= users[i].profile.details.father_name %></p>
                                        <p>Aadhar No.: <%= users[i].profile.details.aadharno %></p>
                                        <p>Gender: <%= users[i].profile.details.gender %></p>
                                        <p>Date of Birth: <%= new Date(users[i].profile.details.dob) %></p>
                                        </div>
                                        <div class="col s6">
                                        <b>Address:</b>
                                        <p>Address: <%= users[i].profile.address.full_address %></p>
                                        <p>City: <%= users[i].profile.address.city %></p>
                                        <p>State: <%= users[i].profile.address.state %></p>
                                        <p>Pincode: <%= users[i].profile.address.pincode %></p>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col s6">
                                        <b>10th education:</b>
                                        <p>School: <%= users[i].profile.education.high.institute_name %></p>
                                        <p>Board: <%= users[i].profile.education.high.board %></p>
                                        <p>Marks: <%= users[i].profile.education.high.marks %></p>
                                        <p>Course: <%= users[i].profile.education.high.course %></p>
                                        </div>
                                        <div class="col s6">
                                        <b>12th education:</b>
                                        <p>School: <%= users[i].profile.education.intermediate.institute_name %></p>
                                        <p>Board: <%= users[i].profile.education.intermediate.board %></p>
                                        <p>Marks: <%= users[i].profile.education.intermediate.marks %></p>
                                        <p>Course: <%= users[i].profile.education.intermediate.course %></p>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col s6">
                                        <b>Graduation:</b>
                                        <p>Institute Name: <%= users[i].profile.education.graduation.institute_name %></p>
                                        <p>Board: <%= users[i].profile.education.graduation.board %></p>
                                        <p>Marks: <%= users[i].profile.education.graduation.marks %></p>
                                        <p>Passing Year: <%= users[i].profile.education.graduation.passing_year %></p>
                                        </div>
                                        <div class="col s6">
                                        <b>Post Graduation:</b>
                                        <p>Institute Name: <%= users[i].profile.education.post_graduation.institute_name %></p>
                                        <p>Board: <%= users[i].profile.education.post_graduation.board %></p>
                                        <p>Marks: <%= users[i].profile.education.post_graduation.marks %></p>
                                        <p>Passing Year: <%= users[i].profile.education.post_graduation.passing_year %></p>
                                        </div>
                                        </div>

                                        <p>Preferred City: <%= users[i].preferred_city %></p>
                                        <p>Skills: <%= users[i].profile.skills %></p>
                                        <b>Experience:</b>
                                        <% for(let j=0 ; j<users[i].profile.experience.length ; j++) { %>
                                            <p><b>Project <%= j+1 %></b><p>
                                            <div class="row">
                                            <div class="col s6">
                                            <p>Type: <%= users[i].profile.experience[j].type %></p>
                                            <p>Role: <%= users[i].profile.experience[j].role %></p>
                                            <p>Organization: <%= users[i].profile.experience[j].organization %></p>
                                            </div>
                                            <div class="col s6">
                                            <p>Description: <%= users[i].profile.experience[j].description %></p>
                                            <p>Start Date: <%= users[i].profile.experience[j].start_date %></p>
                                            <p>End Date: <%= users[i].profile.experience[j].end_date %></p>
                                            </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                    </div>
                                </div>

                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
            <script>
                arr=$('#userlist').children();
                function search(){
                    let term = $('#search').val().toLowerCase();
                    $('#userlist').html(arr);
                    if(term!=""){
                        let userlist = document.getElementById('userlist').children;
                        str="";
                        for(let  i=0; i<userlist.length ; i++){
                            if(userlist[i].id.toLowerCase().indexOf(term) > -1 )
                                str+= userlist[i].innerHTML;
                        }
                        if(str)
                            $('#userlist').html(str);
                        else
                            $('#userlist').html("<center>No users found</center>");
                    }else{
                        $('#userlist').html(arr);
                    }
                }
            </script>
            <!-- Compiled and minified JavaScript -->
</body>

</html>