<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content="Find latest freshers jobs in India. Search for best suitable job vacancies in India's top companies and apply for IT, MBA, accounting, BPO, marketing and sales & other jobs in India.">
    <% include ../../partials/pre_head %>
        <title></title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col s12">
                <div class="row" style="height:50px;"></div>
                <h2>
                    <b>FRESHERS JOBS IN INDIA - APPLY NOW</b>
                </h2>
                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- <div class="row" style="height:50px;"></div> -->
        <!--  <div id="userprofile" class="row no-padd">

    </div>
-->
        <div class="row">
            <div class="col l10 offset-l1 s12">
                <div class="col s12">
                    <h3>
                        <b>ALL USERS</b>
                    </h3>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s9"></div>
                        <div class="col s3">
                            <input type="text" name="search" id="search" placeholder="Search users" oninput="search()"/>
                        </div>
                    </div>
                    <br>
                    <div id="userlist">
                        <% for(var i=0; i < users.length; i++) { %>
                            <div style="cursor:pointer;" class="col l12 s12 namecard" id="<%= users[i].name.first %>">
                                <div class="col s12 ui white card hoverable animated bounceIn" style="animation-delay:` + Math.random() * 1 + `s;border-radius:0px 0px 10px 10px;border-top:2px solid indigo">
                                    <br>Name:   <%= users[i].name.first %> <%= users[i].name.last %><br>
                                    Verfied: <%= users[i].verified %><br>
                                    Email: <%= users[i].email %><br>
                                    Phone No.: <%= users[i].phoneno %><br>
                                    Created At: <% users[i].createdAt %><br>
                                    Role: <%= users[i].role %><br>
                                </div>
                                <div class="row"></div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
            <script>
                arr=$('#userlist').children();
                function search(){
                    let term = $('#search').val().toLowerCase();
                    $('#userlist').html(arr);
                    if(term!=""){
                        let userlist = document.getElementById('userlist').children;
                        str="";
                        for(let  i=0; i<userlist.length ; i++){
                            if(userlist[i].id.toLowerCase().indexOf(term) > -1 )
                                str+= userlist[i].innerHTML;
                        }
                        if(str)
                            $('#userlist').html(str);
                        else
                            $('#userlist').html("<center>No users found</center>");
                    }else{
                        $('#userlist').html(arr);
                    }
                }
            </script>
            <!-- Compiled and minified JavaScript -->
</body>

</html>